header.header-profile {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #777a88;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  font-size: 36px;
  color: #ffffff;
}

header.profile-image {
  display: flex;
  align-items: center;
}

