header.header-profile {
  height: 400px;
  width: 100%;
  color: #ffffff;
  font-size: 40px;
  align-items: center
  justify-content: center
  background-color: #990500;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  display: flex;
  flex-direction: column;
}

header.profile-image {
  align-items: center
}