.new-tweet {
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding-top: 1.5em;
  padding-bottom: 1.5em;

}

button {
  background-color: #00610d;
  font-family: 'Bungee', cursive;
  color: #ffffff;
}

.tweet-button {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  font-weight: bold;
  border-top: 0;
  border-left: 0px;
  border-right: 0px;
  border-bottom: solid 5px #545149;
  background-color: transparent;
  outline: none;
  width: 100%;
  line-height: 40px;
  resize: none;
}

.counter {
  font-family: 'Bungee', cursive;
}

#error {
  display: flex;
  width: 100%;
}

.error p {
  text-align: center;
  width: 90%;
  color: #ff0000;
}