.tweet{
  display: flex; 
  flex-direction: column-reverse;
  align-content: space-between;
  opacity: 0.5;
  border: solid 5px #545149;
  width: 95%;
  padding: 1em; 
}

article header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin: auto
}

article footer {
  display: flex; 
  border-top: solid 5px #545149;
  align-items: center;
  justify-content: space-between;
  margin: auto
}

article.tweet .profile-pic {
  align-self: center;
  height: 50px;
  width: 50px;
}

article.tweet .user {
  opacity: 0;
  color: #28b2dbcc;
}

article.tweet:hover{
  opacity: 1;
  box-shadow: 8px 8px #28b2dbcc;
}